<footer class="bs-footer" role="contentinfo">
	<p class="copyright">© 2014 Vincent Tian</p>
	<div class="table">
		<ul id="horizontal-list">
			<li><a href="http://github.com/vincenttian" target="Github">Github</a></li>
			<li class="muted">·</li>
			<li><a href="http://linkedin.com/in/vtian" target="LinkedIn">LinkedIn</a></li>
			<li class="muted">·</li>
			<li><a href="http://quora.com/Vincent-Tian" target="Quora">Quora</a></li>
			<li class="muted">·</li>
			<li><a href="http://facebook.com/vtian" target="Facebook">Facebook</a></li>
			<li class="muted">·</li>
			<li><a href="http://vincenttianinvestor.svbtle.com/" target="learning">Learning Blog</a></li>
			<li class="muted">·</li>
			<li><a href="http://vincenttian.svbtle.com/" target="personal">Personal Blog</a></li>
		</ul>
	</div>
</footer>