<footer class="bs-footer" role="contentinfo">
	<p class="copyright">© 2014 Vincent Tian</p>
	<div class="table">
		<ul id="horizontal-list">
			<li><a href="github.com/vincenttian">Github</a></li>
			<li class="muted">·</li>
			<li><a href="linkedin.com/in/vtian">LinkedIn</a></li>
			<li class="muted">·</li>
			<li><a href="quora.com/Vincent-Tian">Quora</a></li>
			<li class="muted">·</li>
			<li><a href="twitter.com/vincenttian16">Twitter</a></li>
			<li class="muted">·</li>
			<li><a href="facebook.com/vtian">Facebook</a></li>
			<li class="muted">·</li>
			<li><a href="plus.google.com/104392349746884524422/posts">Google+</a></li>
		</ul>
	</div>
</footer>