<footer class="bs-footer" role="contentinfo">
	<p class="copyright">© 2014 Vincent Tian</p>
	<div class="table">
		<ul id="horizontal-list">
			<li><a href="http://github.com/vincenttian">Github</a></li>
			<li class="muted">·</li>
			<li><a href="http://www.linkedin.com/in/vtian">LinkedIn</a></li>
			<li class="muted">·</li>
			<li><a href="http://www.quora.com/Vincent-Tian">Quora</a></li>
			<li class="muted">·</li>
			<li><a href="http://twitter.com/vincenttian16">Twitter</a></li>
			<li class="muted">·</li>
			<li><a href="http://www.facebook.com/vtian">Facebook</a></li>
			<li class="muted">·</li>
			<li><a href="http://plus.google.com/104392349746884524422/posts">Google+</a></li>
		</ul>
	</div>
</footer>