<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	<div id='cssmenu'>
		<ul>
			<li><a href='/'><span>About</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li class='active'><a href='/blog'><span>Blog</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li><a href='/blueprint'><span>Blueprint</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="bs-header" id="content"> 
		I like to blog.
	</div>
	<div class="introduction center"> 
		<div class="row">
			<div class="col-md-6">
				<a href="">Professional</a>
				<br>
				I like to write about
			</div>
			<div class="col-md-6">
				<a href="">Personal</a>
				<br>
				Here, I write mroe about
			</div>
		</div>
	</div>
	<% include partials/footer %>
</body>