<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	 <% include partials/navbar %>
	<div class="bs-header" id="content"> 
	</div>
	<div class="introduction center"> 
	</div>
	<% include partials/footer %>
</body>