<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	<div id='cssmenu'>
		<ul>
			<li><a href='/'><span>About</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/blog'><span>Blog</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li class='active'><a href='/blueprint'><span>Blueprint</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li><a href='/games'><span>Games</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>

	<div class="bs-header" id="content"> 
	</div>
	<div class="introduction center"> 
		My journey with non-profits first began in high school when I co-founded Happy Day Microfunds. When I came to college, I joined The Berkeley Group in the Fall of 2012, a pro bono consulting club for non-profits. Eventually, my interest in the applications of technology and my computer science background led me to Blueprint in the Fall of 2013. 
	</div>
	<% include partials/footer %>
</body>