<html>
<% include partials/header %>
<!-- <body background="images/stardust.png"> -->
<body>
	<div id='cssmenu'>
		<ul>
			<li class='active'><a href='/'><span>About</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="bs-header welcome" id="content"> 
		<div class="container">
			<div class="row">
				<div class="col-md-5 picture">
					<div id="pic_background">
						<img class="profile-pic" src="images/me.png">
					</div>
				</div>
				<div class="col-md-7 sub">
					<h1 id="name">Vincent Tian</h1>
					<p>
						I'm a third year Cal undergrad studying Computer Science with interests in finance, non-profits, and tech.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="introduction center"> 
		<h1>About Me</h1>
		External VP of <a href='http://calblueprint.org/' target="blueprint"><span>Cal Blueprint.</span></a>
		Software Engineering Intern at <a href='http://intuit.com/' target="intuit"><span>Intuit.</span></a>
		<br> 
		<a href='/projects'><span>Hacker.</span></a>
		Software Engineering Intern at <a href='http://salesforce.com' target="salesforce"><span>Salesforce.</span></a> Fundamental Investor.

		<br>
		<a href='http://railsdecal.com/' target="rails"><span>Ruby on Rails TA.</span></a>
		Operations Officer at <a href='http://ocf.berkeley.edu/~cia/' target="investing"><span>Berkeley Investing Group.</span></a>
		<br>
		<a href='http://chess.com/members/view/vincentt888' target="chess"><span>Competitive Chess Player.</span></a>
		Amateur Photographer. <a href='/games' >Game Enthusiast.</a>
	</div>
	<% include partials/footer %>
</body>