<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	 <% include partials/navbar %>
	<div class="bs-header" id="content"> 
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="profile-pic" src="images/me.png">
				</div>
				<div class="col-md-7 sub">
					<h1 style="font-size: 90px;">Vincent Tian</h1>
					<p>
						I'm a third year Cal undergrad studying Computer Science with interests in finance, non-profits, and tech.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="introduction center"> 
		External VP of <a href='#'><span>Cal Blueprint.</span></a>
		Software Engineering Intern at <a href='#'><span>Intuit.</span></a>
		<br> 
		<a href='#'><span>Hacker.</span></a>
		Software Engineering Intern at <a href='#'><span>Salesforce.</span></a>
		<br>
		<a href='#'><span>Ruby on Rails TA.</span></a>
		Operations Officer at <a href='#'><span>Berkeley Investing Group.</span></a>
		<br>
		Fundamental Investor.
		<a href='#'><span>Competitive Chess Player.</span></a>
		Amateur Photographer.
	</div>
	<% include partials/footer %>
</body>