<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	<div id='cssmenu'>
		<ul>
			<li class='active'><a href='/'><span>About</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/blog'><span>Blog</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li><a href='/blueprint'><span>Blueprint</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li><a href='/games'><span>Games</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="bs-header" id="content"> 
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="profile-pic" src="images/me.png">
				</div>
				<div class="col-md-7 sub">
					<h1 style="font-size: 90px;">Vincent Tian</h1>
					<p>
						I'm a third year Cal undergrad studying Computer Science with interests in finance, non-profits, and tech.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="introduction center"> 
		External VP of <a href='http://calblueprint.org/'><span>Cal Blueprint.</span></a>
		Software Engineering Intern at <a href='http://intuit.com/'><span>Intuit.</span></a>
		<br> 
		<a href='/projects'><span>Hacker.</span></a>
		Software Engineering Intern at <a href='http://salesforce.com'><span>Salesforce.</span></a>
		<br>
		<a href='http://railsdecal.com/'><span>Ruby on Rails TA.</span></a>
		Operations Officer at <a href='http://ocf.berkeley.edu/~cia/'><span>Berkeley Investing Group.</span></a>
		<br>
		Fundamental Investor.
		<a href='http://chess.com/members/view/vincentt888'><span>Competitive Chess Player.</span></a>
		Amateur Photographer.
	</div>
	<% include partials/footer %>
</body>