<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	<div id='cssmenu'>
		<ul>
			<li><a href='/'><span>About</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li class='active'><a href='/interests'><span>Interests</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="bs-header" id="content"> 
		My interests include chess, non-profits, photography, and investing.
		<h4>Non-Profits</h4>
		<p>Blah blah blah </p>
		<br>
		<h4>Photography</h4>
		<p>Blah blah blah </p>
		<br>
		<h4>Investing</h4>
		<p>Blah blah blah </p>
		<br>
	</div>
	<div class="introduction center">
		<h2>My Favorite Games</h2>
			<h3>Indoor</h3>
				<p>Resistance</p>
				<p>Naked Salad Bowl</p>
				<p>Couch Game</p>
				<p>Settlers of Catan</p>
				<p>Poker</p>
				<p>Mah Jong</p>
				<p>Indian Poker variation</p>
				<p>Chess</p>
				<p>Risk</p>
			<h3>Outdoor</h3>
				<p>Laptag</p>
				<p>Ultimate Frisbee</p>
	</div>
	<% include partials/footer %>
</body>