<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	<div id='cssmenu'>
		<ul>
			<li><a href='/'><span>About</span></a></li>
			<li class='active'><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/blog'><span>Blog</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li><a href='/blueprint'><span>Blueprint</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li><a href='/games'><span>Games</span></a></li>
			<li><a href='/tools'><span>Tools</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="bs-header" id="content"> 
		Below is an interactive version of my resume. You can download a pdf version <a href="resume_pdf">here.</a>
	</div>
	<div class="introduction center"> 
		<div class="row">
			<div class="col-md-2">
				Skills
				<br><br>
				<div>
					Web Development:
					<br>
					Django, Ruby on Rails, Node.js, jQuery, HTML, CSS, Salesforce1 platform (Apex, Visualforce)
				</div>
				<br>
				<div>
					Programming:
					Python, Java, Javascript
				</div>
				<br>
				<div>
					Experience with:
					C, Angular.js, Android SDK
				</div>
				<div> 
					Other software: Microsoft Office (Powerpoint, Excel, Word)
				</div>
			</div>
			<div class="col-md-9">
				<div>
					<div>
						<h1>Education</h1>
						<h3>University of California, Berkeley</h3>
						<h4>B.A. Computer Science, 2015</h4>
						<p>Relevant Coursework: CS170 (Algorithms), CS188 (Artificial Intelligence), EE122 (Networking), CS61C (C, Mips), CS61B (Java and Data Structures), CS61A (Python), IEOR 198 (Agile Development)</p>
					</div>
					<div>
						<h1>Experience</h1>
						<h3>Software Engineering Intern at Intuit</h3>
						<h4>May 2014-Present</h4>
						<p>explanation</p>

						<h3>Software Engineering Intern at Salesforce</h3>
						<h4>Jan 2014 - Mary 2014</h4>
						<p>explanation</p>

						<h3>Programmer at Residential Computing at UC Berkeley SA-IT</h3>
						<h4>Nov 2013 - May 2014</h4>
						<p>explanation</p>

						<h3>Software Engineering Intern at DataYes</h3>
						<h4>May 2013 - Aug 2013</h4>
						<p>explanation</p>

					</div>
					<div>
						<h1>Projects</h1>
						<h3>Roots of Success Teacher Portal</h3>
						<p>explanation</p>

						<h3>Suitcase Clinic Resource Management & Review System</h3>
						<p>explanation</p>

						<h3></h3>

						<h3></h3>

						<h3></h3>

						<h3></h3>
					</div>
					<div>
						<h1>Leadership</h1>
						<h3>Cal Blueprint - External Vice President</h3>
						<h4>May 2014 - Present</h4>
						<p>explanation</p>

						<h3>Berkeley Investment Group - Operations Officer</h3>
						<h4>May 2013 - Present</h4>
						<p>explanation</p>

						<h3>The Berkeley Group - Development Chair</h3>
						<h4>Jan 2013 - May 2013</h4>
						<p>explanation</p>
					</div>
					<div>
						<h1>Awards</h1>
						<h3>Social Good Hackathon - 2nd place</h3>
						<h4>March 8, 2014 </h4>
						<p>explanation</p>

						<h3>Be a Venture Capitalist Case Competition - Finalist</h3>
						<h4>April 2014 - May 2014</h4>
						<p>explanation</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include partials/footer %>
</body>