<html>
<% include partials/header %>
<body background="images/paper_fibers.png">
	<div id='cssmenu'>
		<ul>
			<li><a href='/'><span>About</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/blog'><span>Blog</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li><a href='/blueprint'><span>Blueprint</span></a></li>
			<li><a href='/webdev'><span>Web Development</span></a></li>
			<li><a href='/games'><span>Games</span></a></li>
			<li class='active'><a href='/tools'><span>Tools</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="bs-header" id="content"> 
		I like to use a bunch of different tools that streamline my workflow!
	</div>
	<div class="introduction center"> 
		<h1>Slate</h1>
		<h3>Screen sizes</h3>

		<h1>Bash Profile</h1>
		Check out my bash profile <a href='http://github.com/vincenttian/dotfiles' target="bash_profile"><span>here!</span></a>
		<h3>Git stuff</h3>
		<h3>Path stuff</h3>
		<h3>Aliases</h3>

		<h1>Sublime Packages</h1>
		<h3>Linters for everything</h3>
		<h3>CMD-D</h3>

		<h1>Chrome Extensions</h1>
		<h3>JSON View</h3>
		<h3>Hover zoome</h3>
		<h3>Ad block</h3>

		<h1>NinjaDocs</h1>
		<h3>Docs for any language/framework/library without need for internet</h3>

		<h1>Evernote</h1>
		<h3>All my notes in the cloud</h3>

		<h1>Flux</h1>
		<h3>Save your eyes</h3>

		<h1>Digital Power Station</h1>
		<h3>Optimize your sound</h3>

		<h1>Google Calendar</h1>
		<h3>Your schedule in the cloud</h3>

	</div>
	<% include partials/footer %>
</body>