<html>
<% include partials/header %>
<!-- <body background="images/stardust.png"> -->
<body>
	<div id='cssmenu'>
		<ul>
			<li><a href='/'><span>Home</span></a></li>
			<li><a href='/resume'><span>Resume</span></a></li>
			<li><a href='/projects'><span>Projects</span></a></li>
			<li class='active'><a href='/webdev'><span>Web Development</span></a></li>
			<li><a href='/interests'><span>Interests</span></a></li>
			<li class='last'><a href='/contact'><span>Contact</span></a></li>
		</ul>
	</div>
	<div class="container flex--row">
		<div id="content" style="background-color: #d6b58d;"> 
			<center>I have built webapps in Django, Ruby on Rails, and Node. </center>
			<br>
			<div class="row">
				<div class="col-md-4 center">
					<img src="images/django.png" height="100" width="125">
					<br>

					<a class="flat-button animated tada home-button" href='http://github.com/vincenttian/Django_Starter' target="django">Django Starter Template</a>
				</div>
				<div class="col-md-4 center">
					<img src="images/rails.png" height="100" width="125">
					<br>
					<a class="flat-button animated tada home-button" href='http://github.com/negativetwelve/rails-4-starter-app' target="ruby">Rails Starter Template</a>
				</div>
				<div class="col-md-4 center">
					<img src="images/node.png" height="100" width="125">
					<br>
					<a class="flat-button animated tada home-button" href='http://github.com/vincenttian/node_starter_passport_authentication' target="node">Node.js Starter Template</a>
				</div>
			</div>
		</div>
		<br>

		<!-- <div class="introduction center">  -->
			I like to use a bunch of different tools that streamline my workflow!
			<!--
			<div class="row">
				<div class="col-md-4 card">
					<h1>Managing my Time</h1>
					<h3>Google Calendar</h3>

					<h3>Apple Reminders</h3>

					<h3>Email Filters</h3>
				</div>
				<div class="col-md-4 card">
					<h1>Cloud Storage</h1>

					<h3>Evernote</h3>
					<p>All my notes in the cloud</p>

					<h3>Google Drive</h3>
					<p>Collaborative stuff in the cloud</p>

					<h3>Dropbox</h3>
					<p>Big files in the cloud</p>
				</div>
				<div class="col-md-4 card">
					<h1>Coding</h1>
					<h3>Sublime Text 3 Packages</h3>
					<p>Linters for everything</p>
					<p>CMD-D</p>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-md-4 card">
					<h1>Chrome Extensions</h1>
					<h3>JSON View</h3>
					<h3>Hover zoome</h3>
					<h3>Ad block</h3>
				</div>
				<div class="col-md-4 card">
					<h1>Programs</h1>

					<h3>NinjaDocs</h3>
					<p>Docs for everything without internet</p>

					<h3>Flux</h3>
					<p>Save your eyes</p>

					<h3>Digital Power Station</h3>
					<p>Optimize your sound</p>

					<h3>Slate</h3>
					<p>Screen sizes</p>
				</div>
				<div class="col-md-4 card">
					<h1>Terminal Optimization</h1>
					Check out my bash profile <a href='http://github.com/vincenttian/dotfiles' target="bash_profile"><span>here!</span></a>
					<h3>Git stuff</h3>
					<h3>Path stuff</h3>
					<h3>Aliases</h3>
				</div>
			</div>
			-->
		<!-- </div> -->

		<!-- Attempt to make responsive boxes -->
		<article>
			<section class="projlinks">
				<a href="/projects/tgd-magazine" class="projthumb">
					<div class="background-color center">
						<figure>							
							<picture> 
								<strong>Managing Time</strong>
								<!-- <source srcset="images/clock.png" media="(min-width: 500px)">  -->
								<img src="images/clock.png" height=150 width=40>
							</picture> 
						</figure> 
					</div>
				</a>
				<a href="/projects/the-shape-of-design" class="projthumb"> 
					<div class="background-color center">
						<figure> 
							<picture> 
								<strong>Cloud Storage</strong>
								<!-- <source srcset="images/cloud.png" media="(min-width: 500px)">  -->
								<img src="images/cloud.png" height=150 width=40> 
							</picture> 
						</figure>
					</div> 
				</a>
				<a href="/projects/tgd-magazine" class="projthumb">
					<div class="background-color center">
						<figure>							
							<picture> 
								<strong>Coding</strong>
								<!-- <source srcset="images/coding.png" media="(min-width: 500px)">  -->
								<img src="images/coding.png" height=150 width=40>
							</picture> 
						</figure> 
					</div>
				</a>
				<a href="/projects/the-shape-of-design" class="projthumb"> 
					<div class="background-color center">
						<figure> 
							<picture> 
								<strong>Chrome Extensions</strong>
								<!-- <source srcset="images/chrome.png" media="(min-width: 500px)">  -->
								<img src="images/chrome.png" height=150 width=40> 
							</picture> 
						</figure>
					</div> 
				</a>
				<a href="/projects/tgd-magazine" class="projthumb">
					<div class="background-color center">
						<figure>							
							<picture> 
								<strong>Programs</strong>
								<!-- <source srcset="images/program.png" media="(min-width: 500px)">  -->
								<img src="images/program.png" height=150 width=40>
							</picture> 
						</figure> 
					</div>
				</a>
				<a href="/projects/the-shape-of-design" class="projthumb"> 
					<div class="background-color center">
						<figure> 
							<picture> 
								<strong>Terminal Optimization</strong>
								<!-- <source srcset="images/terminal.png" media="(min-width: 500px)">  -->
								<img src="images/terminal.png" height=150 width=40> 
							</picture> 
						</figure>
					</div> 
				</a>
			</section>
		</article>
	<% include partials/footer %>
	</div>
</body>